/build
/app/build
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.idea/workspace.xml
app/app.iml
app/build/intermediates/blame/res/debug/single/drawable-xhdpi-v4.json
app/build/intermediates/blame/res/debug/single/drawable.json
app/build/intermediates/blame/res/debug/single/layout.json
app/build/intermediates/incremental/mergeDebugAssets/merger.xml
app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugResources/merger.xml
app/build/intermediates/incremental/packageDebug/dex-renamer-state.txt
app/build/intermediates/incremental/packageDebug/file-input-save-data.txt
app/build/intermediates/incremental/packageDebug/zip-cache/a9_X54R+4xm8qvYIazGMjrAiNSU=
app/build/intermediates/res/resources-debug.ap_
app/build/outputs/apk/app-debug.apk
app/build/outputs/logs/manifest-merger-debug-report.txt