<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiptap.tda_user.tiptap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".common.SampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.activity.view.splash.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.activity.view.login.Login"/>
        <activity
            android:name=".main.activity.view.language.Language"/>
        <activity
            android:name=".main.activity.view.function.Function"/>
        <activity
            android:name=".main.activity.view.lesson.Lesson"/>
        <activity
            android:name=".main.activity.view.activity.Act_1"/>
        <activity
            android:name=".main.activity.view.activity.A34"/>
        <activity
            android:name=".main.activity.view.activity.A27"/>
        <activity
            android:name=".main.activity.view.activity.A19"/>
        <activity
            android:name=".main.activity.view.activity.A1"/>
        <activity
            android:name=".main.activity.view.activity.A11"/>

        <activity
            android:name=".main.activity.view.activity.A10"/>
        <activity
            android:name=".main.activity.view.activity.A12"/>
        <activity
            android:name=".main.activity.view.activity.A13"/>
        <activity
            android:name=".main.activity.view.activity.A1_"/>
        <activity
            android:name=".main.activity.view.activity.A6"/>
        <activity
            android:name=".main.activity.view.activity.End"/>
        <activity
            android:name=".main.activity.view.activity.A7"/>
        <activity
            android:name=".main.activity.view.activity.A2"/>
        <activity
            android:name=".main.activity.view.activity.A37"/>
        <activity
            android:name=".main.activity.view.activity.A38"/>
        <activity
            android:name=".main.activity.view.activity.A8"/>
        <activity
            android:name=".main.activity.view.activity.A39"/>
        <activity
            android:name=".main.activity.view.activity.A28"/>
        <activity
            android:name=".main.activity.view.activity.A4"/>
        <activity
            android:name=".main.activity.view.activity.A30"/>
        <activity
            android:name=".main.activity.view.activity.A29"/>
        <activity
            android:name=".main.activity.view.activity.A20"/>
        <activity
            android:name=".main.activity.view.activity.A24"/>
        <activity
            android:name=".main.activity.view.activity.A18"/>
        <activity
            android:name=".main.activity.view.activity.A26"/>
        <activity
            android:name=".main.activity.view.activity.A15"/>
        <activity
            android:name=".main.activity.view.activity.A35"/>
        <activity
            android:name=".main.activity.view.activity.A31"/>
        <activity
            android:name=".main.activity.view.activity.A32"/>
        <activity
            android:name=".main.activity.view.activity.A22"/>
        <activity
            android:name=".main.activity.view.activity.A41"/>
        <activity
            android:name=".main.activity.view.activity.A25"/>
        <activity
            android:name=".main.activity.view.activity.A40"/>
        <activity
            android:name=".main.activity.view.activity.A33"/>
        <activity
            android:name=".main.activity.view.activity.A5"/>
        <activity
            android:name=".main.activity.view.activity.A42"/>
        <activity
            android:name=".main.activity.view.activity.A43"/>
        <activity
            android:name=".main.activity.view.activity.Act_32"/>
        <activity
            android:name=".main.activity.view.activity.A44"/>
        <activity
            android:name=".main.activity.view.activity.A3"/>
        <activity
            android:name=".main.activity.view.activity.A9"/>
        <activity
            android:name=".main.activity.view.activity.A45"/>
        <activity
            android:name=".main.activity.view.activity.A46"/>
        <activity
            android:name=".main.activity.view.activity.A47"/>
        <activity
            android:name=".main.activity.view.activity.A48"/>
        <activity
            android:name=".main.activity.view.activity.A49"/>
    </application>
</manifest>